/* Base Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}


.main_contact {
    width: 100%;
    margin: 0 auto;
}

/* Banner Section */
.container1_contact {
    width: 100%;
    background: url('/images/contact_banner.png') center/cover no-repeat;
   padding: 30rem 0;
    background-attachment: fixed;
    text-align: center;
}
.col1_contact h2 {
    font-size: 3rem;
  font-family: 'Lato',sans-serif;
    color: #fff;
}

/* Contact Info Section */
.container2_contact,
.container3_contact {
    background: #000;
    padding: 6rem 1rem;
}
.col2_contact h3 {
    font-size: 1.25rem;
    color: #2391fb;
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}

.col2_contact h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding-bottom: 3rem;
  font-family: 'Lato',sans-serif;

}

/* Contact Rows */
.row3_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem;
    text-align: center;
}

.col3_contact,
.col4_contact,
.col5_contact {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    border-right: none;
    border-bottom: 2px solid #2391fb;
}

.col3_contact h3,
/* .col4_contact h3, */
.col5_contact h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #2391fb;
    margin-bottom: 0.5rem;
   font-family: 'Lato',sans-serif;

}
.col4_contact h3{
    margin-left: -23px;
     font-size: 1.5rem;
    font-weight: 400;
    color: #2391fb;
    margin-bottom: 0.5rem;
    font-family: 'Lato',sans-serif;

}

.col3_contact p,
/* .col4_contact p, */
.col5_contact p {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
   font-family: "Poppins";

}
.col4_contact p{
    margin-left: -20px;
     color: #fff;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
  font-family: "Poppins";

}
.ph{
    color: #2391fb;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.loca{
     color: #2391fb;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-left: -2rem;
}
.mail{
       color: #2391fb;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.col3_contact a,
.col5_contact a {
    color: #fff;
    text-decoration: none;
  font-family: "Poppins";
    font-size: 1rem;
}

.col3_contact a:hover,
.col5_contact a:hover {
    color: #2391fb;
    transition: color 0.3s ease-in-out;
}

/* Form Section */
.row5_contact {
    padding: 3rem 1rem;
    background-color: #000;
    text-align: center;
}
.col6_contact h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
     font-family: 'Lato',sans-serif;

}
.col7_contact form {
    max-width: 600px;
    margin: 0 auto;
    background: #2391fb;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px #2391fb;
    text-align: left;
}

.col7_contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
     font-family: "Lato",sans-serif;

}

.col7_contact input,
.col7_contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Poppins";
}

.name-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name-fields .form-group {
    flex: 1;
}

.col7_contact button {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 2rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.col7_contact button:hover {
    background-color: #1b7ed6;
}

/* Responsive Queries */
@media screen and (min-width: 768px) {
    .row3_contact {
        flex-direction: row;
    }

    .col3_contact,
    .col4_contact,
    .col5_contact {
        width: 25%;
        border-right: 2px solid #2391fb;
        border-bottom: none;
    }

    .col3_contact {
        margin-left: 0;
    }

    .name-fields {
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    .col1_contact h2,
    .col2_contact h2,
    .col6_contact h2 {
        font-size: 2rem;
    }

    .col3_contact,
    .col4_contact,
    .col5_contact {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #2391fb;
    }
}