.container1_Privacy h1{
    margin-left: 4rem;
    color: #2391fb;
    font-weight: 500;
    padding: 2rem 0rem;
}
.col1_Privacy P{
    margin-left: 2rem;
    padding: 10px 0px;
    width: 80%;
}
.col2_Privacy P{
    margin-left: 2rem;
}
.col3_Privacy P{
    margin-left: 2rem;
}
.col4_Privacy P{
      width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2rem;
}
.col5_Privacy P{
    margin-left: 2rem;
}
.col6_Privacy P{
    margin-left: 2rem;
    width: 80%;
}
.col7_Privacy P{
    margin-left: 2rem;

}
.col8_Privacy P{
    margin-left: 2rem;
}
.col2_Privacy h2{
    margin-left: 2rem;
        margin-top: 20px;
    margin-bottom: 20px;
        font-weight: 500;
}
.col3_Privacy h2{
    margin-left: 2rem;
        margin-top: 20px;
    margin-bottom: 20px;
        font-weight: 500;
}
.col4_Privacy h2{
    margin-left: 2rem;
        margin-top: 20px;
    margin-bottom: 20px;
        font-weight: 500;
}
.col5_Privacy h2{
    margin-left: 2rem;
        margin-top: 20px;
    margin-bottom: 20px;
        font-weight: 500;
}
.col6_Privacy h2{
    margin-left: 2rem;
        margin-top: 20px;
    margin-bottom: 20px;
        font-weight: 500;
}
.col7_Privacy h2{
    margin-left: 2rem;
        margin-top: 20px;
    margin-bottom: 20px;
        font-weight: 500;
}
.col8_Privacy h2{
    margin-left: 2rem;
        margin-top: 20px;
    margin-bottom: 20px;
        font-weight: 500;
}
.col3_Privacy li{
    margin-left: 4rem;
}
.col2_Privacy li{
    margin-left: 4rem;
}
.col5_Privacy li{
    margin-left: 4rem;
}
.col7_Privacy li{
    margin-left: 4rem;
}